<!DOCTYPE html>
<html>
    <head>
        <title>About | Chitter</title> 
    </head>
    <body> 
        <h1>Help</h1> 
            <p>
            This is the about page!
            </p>
    </body>
  </html>